.App {
  width: 60%;
  margin: auto;
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-child {
  width: 50%;
  margin-bottom: 25px;
}

.form-item {
  width: 95%;
}
